*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.uper-nav{
    text-align: center;
    width: 98%;
    margin: 0 auto;
    background-color: #FF9500;
    border-radius: 5px;
    padding: 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.uper-nav p{
    color: #fff;
}
.Lower-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}
.logo-menu{
    display: flex;
    gap: 40px;
    align-items: center;
}
.Lower-nav .logo{
    height: 40px;
    width: 40px;
    position: relative;
    background-color: #FF9500;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Lower-nav .logo img{
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.Lower-nav .menu ul{
    display: flex;
    gap: 40px;
}
.Lower-nav .menu ul li a{
    text-decoration: none;
    color: #262626;
    font-size: 18px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.Lower-nav .menu ul li a:hover{
    color: #FF9500;
    border: 1px solid #FF9500;
    border-radius: 10px;
    padding: 2px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Lower-nav .button{
    display: flex;
    gap: 10px;
}
.Lower-nav .button a:nth-child(1){
    border: 1px solid #FF9500;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #FF9500;
    transition: .3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.Lower-nav .button a:nth-child(1):hover{
background-color: #FF9500;
color: #fff;
}
.Lower-nav .button a:nth-child(2){
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #FF9500;
    border: 1px solid #FF9500;
    color: #fff;
    transition: .3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.Lower-nav .button a:nth-child(2):hover{
    background-color: transparent;
    border: 1px solid #FF9500;
    color: #FF9500;
}
@media (max-width: 575px){
    .container{
        width: 100%;
    }
    .Lower-nav{
        flex-direction: column;
    }
    .logo-menu{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .menu ul{
        flex-direction: column;
        text-align: center;
    }
    .button{
        margin-bottom: 5%;
    }
}
/* Navbar Ends here */

/* About SkillBridge Section starts here */
.uiux{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}
.uiux h1{
    width: 50%;
    font-size: 2.5rem;
    font-weight: 500;
}
.uiux p{
    width: 50%;
}
@media (max-width: 575px){
    .container{
        width: 100%;
    }
    .uiux{
        flex-direction: column;
    }
    .uiux h1{
        width: 90%;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
    }
    .uiux p{
        width: 90%;
        text-align: justify;
    }
}
/* About SkillBridge Section Ends here */
/* Acheivment Section starts here */
.achievment-top{
    margin-bottom: 20px;
}
.achievment-top h2{
    font-size: 2rem;
    font-weight: 400;
}
.achievment-top p{
    font-size: .8rem;
}
.achievment-bottom{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-bottom: 5%;
}
.achv-cards{
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 30px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.achv-cards i{
    font-size: 1.3rem;
    color: #FF9500;
    margin-bottom: 15px;
}
.achv-cards h3{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.achv-cards p{
    font-size: .8rem;
}
@media (max-width: 575px){
    .container{
        width: 100%;
    }
    .achievment-top{
        width: 90%;
        margin: 0 auto;
    }
    .achievment-top p{
        margin-bottom: 10px;
    }
    .achievment-bottom{
        grid-template-columns: auto;
        width: 95%;
        margin: 0 auto;
    }
}
/* Acheivment Section Ends here */

/* Our Goals section starts here */

/* Our Goals section ends here */
/* Digital innovateion section starts here */
.innovation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.inno-left{
    width: 60%;
}
.inno-left h2{
    font-size: 1.8rem;
    font-weight: 500;
}
.inno-left h2 span{
    color: #FF9500;
}
.inno-left p{
    font-size: 1rem;
    font-weight: 300;
}
.inno-right button{
    padding: 4px 10px;
    border: 1px solid #FF9500;
    color: #FF9500;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width: 575px){
    .innovation{
        flex-direction: column;
    }
    .inno-left{
        width: 95%;
        margin-bottom: 30px;
        text-align: center;
    }
    .inno-left p{
        font-size: .8rem;
    }
}
/* Digital innovateion section ends here */

/* Footer section starts here */
footer{
    background-color: #f7f7f7;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.footer-left img{
    width: 30px;
    background-color: #FF9500;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.footer-left p{
    font-size: .8rem;
    margin-bottom: 10px;
}
.footer-left i{
    margin-right: 8px;
    color: #262626;
}
.footer-right{
    display: flex;
    width: 57%;
    justify-content: space-between;
}
.footer-right h2{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.right1 ul li{
    font-size: .9rem;
    margin-bottom: 4px;
}
.right-logos ul{
    display: flex;
    gap: 20px;
}
.right-logos ul li{
    font-size: 1.2rem;
    color: #262626;
}
.fa-facebook:hover{
    color: #414df7;
    cursor: pointer;
}
.fa-linkedin:hover{
    color: #0c55a8;
    cursor: pointer;
}
.fa-twitter:hover{
    color: #07b0f3;
    cursor: pointer;
}
.copy-right{
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    font-size: .9rem;
}
@media screen and (max-width: 575px) {
    .container{
        width: 100%;
    }
    .footer{
        flex-direction: column;
        padding: 25px;
        gap: 20px;
    }
    .footer-right{
        width: 100%;
    }
}
/* Footer section Ends here */