*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.uper-nav{
    text-align: center;
    width: 98%;
    margin: 0 auto;
    background-color: #FF9500;
    border-radius: 5px;
    padding: 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.uper-nav p{
    color: #fff;
}
.Lower-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}
.logo-menu{
    display: flex;
    gap: 40px;
    align-items: center;
}
.Lower-nav .logo{
    height: 40px;
    width: 40px;
    position: relative;
    background-color: #FF9500;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Lower-nav .logo img{
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.Lower-nav .menu ul{
    display: flex;
    gap: 30px;
}
.Lower-nav .menu ul li a{
    text-decoration: none;
    color: #262626;
    font-size: 18px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.Lower-nav .menu ul li a:hover{
    color: #FF9500;
    border: 1px solid #FF9500;
    border-radius: 10px;
    padding: 2px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Lower-nav .button{
    display: flex;
    gap: 10px;
}
.Lower-nav .button a:nth-child(1){
    border: 1px solid #FF9500;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #FF9500;
    transition: .3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.Lower-nav .button a:nth-child(1):hover{
background-color: #FF9500;
color: #fff;
}
.Lower-nav .button a:nth-child(2){
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #FF9500;
    border: 1px solid #FF9500;
    color: #fff;
    transition: .3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.Lower-nav .button a:nth-child(2):hover{
    background-color: transparent;
    border: 1px solid #FF9500;
    color: #FF9500;
}
@media (max-width: 575px){
    .container{
        width: 100%;
    }
    .Lower-nav{
        flex-direction: column;
    }
    .logo-menu{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .menu ul{
        flex-direction: column;
        text-align: center;
    }
    .button{
        margin-bottom: 5%;
    }
}
/* Navbar Ends here */
/* Testimonial and login section starts here */
.form-main{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    gap: 10%;
}
.testimonial-sec{
    width: 45%;
}
.testimonial-sec h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.info{
    background-color: #f7f7f7;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sarah{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.sarah-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sarah a{
    text-decoration: none;
    color: #FF9500;
    border: 1px solid #FF9500;
    border-radius: 5px;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.sign-up{
    width: 55%;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 30px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.sign-up h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.sign-up p{
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 10px;
    margin-bottom: 20px;
}
.forgot{
    text-align: right;
    text-decoration: none;
    color: #262626;
    font-size: .9rem;
    cursor: pointer;
}
.rmbr-me{
    display: flex;
    gap: 10px;
}
form input{
    padding: 12px 10px;
    border: none;
    background-color: #fff;
}
hr{
    margin-bottom: 10px;
}
.google-btn{
    width: 70%;
    border: 1px solid #FF9500;
    color: #FF9500;
    border-radius: 5px;
    background-color: #fff;
    padding: 6px 0;
    cursor: pointer;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width: 575px){
    .container{
        width: 100%;
    }
    .form-main{
        flex-direction: column;
    }
    .testimonial-sec{
        width: 90%;
        margin-bottom: 5%;
    }
    .sign-up{
        width: 90%;
    }
}
/* Testimonial and login section Ends here */
/* Footer section starts here */
footer{
    background-color: #f7f7f7;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.footer-left img{
    width: 30px;
    background-color: #FF9500;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.footer-left p{
    font-size: .8rem;
    margin-bottom: 10px;
}
.footer-left i{
    margin-right: 8px;
    color: #262626;
}
.footer-right{
    display: flex;
    width: 57%;
    justify-content: space-between;
}
.footer-right h2{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.right1 ul li{
    font-size: .9rem;
    margin-bottom: 4px;
}
.right-logos ul{
    display: flex;
    gap: 20px;
}
.right-logos ul li{
    font-size: 1.2rem;
    color: #262626;
}
.fa-facebook:hover{
    color: #414df7;
    cursor: pointer;
}
.fa-linkedin:hover{
    color: #0c55a8;
    cursor: pointer;
}
.fa-twitter:hover{
    color: #07b0f3;
    cursor: pointer;
}
.copy-right{
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    font-size: .9rem;
}
@media screen and (max-width: 575px) {
    .container{
        width: 100%;
    }
    .footer{
        flex-direction: column;
        padding: 25px;
        gap: 20px;
    }
    .footer-right{
        width: 100%;
    }
}
/* Footer section Ends here */